<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}World Builder{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {{ include('::core_ressources.html.twig') }}

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="header">
                    {{ include('::core_menus.html.twig') }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-2">
                    <div class="inner_cell">
                        Sidebar
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="col-xs-12 inner_cell">
                        {% block body %}{% endblock %}
                    </div>
                    
                    <div class="col-xs-12 inner_cell">
                        Article
                    </div>
                    
                    <div class="col-xs-12 inner_cell">
                        <div class="col-xs-6">
                            <div class="col-xs-12 inner_cell">
                                Article Col A
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="col-xs-12 inner_cell">
                                Article Col B
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="footer">
                    footer
                </div>
            </div>
        </div>
        
        <style>
            
            .inner_cell {
                border: 1px solid orange;
                padding: 12px;
                margin-bottom: 10px;
            }
            
            .footer {
                border: 1px solid orange;
                margin: 6px;
            }
            
            .header {
                border: 1px solid orange;
                margin-bottom: 12px;
            }
        </style>
    </body>
</html>
