{% extends "::base.html.twig" %}

{% block body %}
    Hello World Module!<br />
    <br />
    
    <p style="text-align: justify;">
        Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... 
    </p>
    
    <p style="text-align: justify;">
        Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... 
    </p>
    
    <p style="text-align: justify;">
        Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... Lorem ipsum sic dolorat amet ... 
    </p>
{% endblock %}